.todo_panel_container {
    background-color: #132C3B;
    box-shadow: 0px 8px 11px -8px rgba(34, 60, 80, 0.9);
    margin-bottom: 15px;
    width: 80%;
    padding: 25px 20px;
    border-radius: 5px;
    margin-left: auto;
    margin-right: auto;
    .fields_container {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 10px;
        .field {
            &_container {
                width: 100%;
                label {
                    display: flex;
                    flex-direction: column;
                    gap: 5px;
                    font-size: 15px;
                    .name {
                        color: #fff;
                        font-family: 'Roboto';
                        font-weight: 400;
                    }
                    .description {
                        color: #fff;
                        font-family: 'Roboto';
                        font-weight: 400;
                    }
                }
                #name {
                    width: 40%;
                }
                input {
                    font-size: 15px;
                    padding: 10px 5px;
                    border-radius: 20px;
                    border: 0.5px solid black;
                }
            }
            .button_container {
                width: 100%;
                text-align: right;
                margin-top: 10px;
            }
        }
    }
}